nav {
    background: url("https://media0.giphy.com/media/fqVodOPZg9uBYvYjes/giphy.webp?cid=ecf05e47bhi8fsw03ew6fi2cpx1x2mcdb2ea9s5z8bpjt0z2&ep=v1_gifs_search&rid=giphy.webp&ct=g");
    background-size: 100% auto;
    
    
}

main {
    background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi1.wp.com%2Fwww.safegardgroup.com%2Fweb-content%2Fuploads%2F2019%2F09%2Fsevere-weather-scaled.jpeg%3Ffit%3D2560%252C1706%26ssl%3D1&f=1&nofb=1&ipt=404b94c547151c5cdf596fc4721365749efd13b05e2fa35938f2ec430acb5d45&ipo=images");
    border-top: 5px solid black;
}

#weather-dashboard {
    font-size: 250%;
    margin-left: 20px;
    
}

#weather-format {
    color: #6c6c93;
    text-shadow: 2px 2px black;
}

#dash-format {
    font-size: 175%;
    color: whitesmoke;
    text-shadow: 2px 2px #090920;
          }

#searchBtn:hover {
    opacity: 70%;
}

.citynames:hover {
    opacity: 70%;
    cursor: pointer;

}

#forecasttoday {
    background-image: url("https://images.pexels.com/photos/1275699/pexels-photo-1275699.jpeg?auto=compress&cs=tinysrgb&w=600");
    background-size: cover;
    background-blend-mode: luminosity;
    opacity: 80%;
    
    
    
}
.fiveday {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.z5MDB2U0cvSzwgpisGCFegHaFP%26pid%3DApi&f=1&ipt=64cc4c15f98733968d5f6d60d42ec6872fac8b89e4ce200eb69eb47a58036bbb&ipo=images");
    opacity: 80%;
    
}

